services:
  gateway:
    image: nginx:1.27-alpine
    depends_on:
      - frontend
      - backend
    ports:
      - "8443:443"
    volumes:
      - ./nginx-gateway.conf:/etc/nginx/conf.d/default.conf:ro
      - /c/Users/Aziz/projet-indiv/certs:/etc/nginx/certs:ro

